<nav>
    <select id="view">
        <option value="daily" selected>Daily View</option>
        <option value="weekly">Weekly View</option>
    </select>

    <a id="add" href="/add-habit"><i class="fa-solid fa-circle-plus"></i></a>
</nav>