<nav>
    <select id="view">
        <option value="daily" selected>Daily View</option>
        <option value="weekly">Weekly View</option>
    </select>

    <div id="add"><i class="fa-solid fa-circle-plus"></i></div>
</nav>