<link rel="stylesheet" href="/css/add_habit.css">

<form action="/create" method="POST">
    <p>What do you wanna track?</p>
    <input type="text" name="description" id="desc" placeholder="Type here...">
    <input id="add-btn" type="submit" value="ADD">
</form>