<link rel="stylesheet" href="<%= assetPath('css/add_habit.css') %>">

<form action="/create" method="POST">
    <p>What do you wanna track?</p>
    <input type="text" name="description" id="desc" placeholder="Type here...">
    <input id="hidden" name="hidden" type="hidden">
    <input id="add-btn" type="submit" value="ADD">
    <p id="back" onclick="goBack()">Go Back</p>
</form>

<script>
    // function to set the value of hidden input element
// to be sent to controller to handle the view display
function setHidden() {
  let hidden = document.querySelector("#hidden");
  hidden.value = localStorage.getItem("view");
}

setHidden();

// function to redirect to the previous view
function goBack() {
  let view = document.querySelector("#view");

  localStorage.setItem("view", view.value);

  window.location.href = localStorage.getItem("view");
}
</script>