<div id="habits-container">
    <ul>
        <li id="habit">
            <p>Gym</p>

            <select id="status">
                <option value="none" selected>None</option>
                <option value="done">Done</option>
                <option value="not_done">Not done</option>
            </select>
        </li>
    </ul>
</div>