<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/home.css">
        <script src="https://kit.fontawesome.com/1919d78298.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <h1><%= title %></h1>

        <div id="container">
            <%- include('_nav'); -%>

            <%- body -%>

        </div>
    </body>
</html>