form {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p {
        font-size: 2rem;
        margin: 0;
    }

    input {
        width: 250px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
    }

    #add-btn {
        width: 80px;
        padding: 5px 0;
        background: linear-gradient(white, lightgrey);
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
    }

    #back {
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: black;
        cursor: pointer;
    }
}